# idea
.idea

# bin
/bin

# Project exclude paths
/.gradle/
.gradle

coffee-chat-service-api/build
coffee-chat-external-api/build
coffee-chat-domain/build

coffee-chat-service-api/src/main/resources/config/
coffee-chat-service-api/src/main/resources/application-dev.yml

