# idea
.idea

# bin
bin

# Project build
build

# Project exclude paths
/.gradle/
.gradle

# credential
application-credentials.yml

docker/ecr/

coffee-chat-service-api/src/main/resources/config/
coffee-chat-service-api/src/main/resources/application-dev.yml

